.fake-content {
	height: 1.4rem;
	background-color: #ecf0f1;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-bottom: 1rem;
	border-radius: 0.2rem;
}

.dark-mode .fake-content {
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.025);
}
